<div class="form-row mt-1">

    <div class="col-md-5">
      <input #linkname [name]="linkname.value" [ngModel]="name" (ngModelChange)="onChange($event, 'name')" type="text" class="form-control" placeholder="Link name" />
    </div>
    <div class="col-md-7">
      <div class="input-group">
        <select #selector [(ngModel)]="target" (ngModelChange)="onChange($event, 'target')" class="form-control">
          <option disabled hidden selected>Link target</option>
          <option #linkname *ngFor="let page of pageData" [value]="page.page_id">{{page.title}}</option>
        </select><button class="badge badge-danger ml-1" (click)="onDeleteThis()">-</button>
      </div>
  
    </div>
  </div>