
<div class="row">
  <div class="col-md-7 mt-2">
    <input type="text" placeholder="search account" class="mb-1 float-right"/>
  </div>
</div>
<div class="row">
  
<div class="col-md-7 mt-2">
    <div class="table-responsive">
<table class="table table-hover">

<thead class="thead-dark">
  <tr>
    <th>Username</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Account Type</th>
  </tr>
</thead>
<tbody>

  <tr *ngFor="let user of userData">

    <th>{{user.accountName}}</th>
    <th>{{user.firstName}}</th>
    <th>{{user.lastName}}</th>
    <th>{{user.accountType}}</th>

  </tr>


</tbody>

</table>
</div>
</div>

<div class="col-md-3 mt-2 sidebar">
  <div class="row sidebar-head">
    <h2>Heading</h2>
  </div>
</div>
</div>