
<div class="row">
  <div class="col-md-7 mt-2">
    <div class="row">
      <h1>Appearance</h1>
    </div>
    <div class="row">
      <form (submit)="onSubmit()" class="form-control">
        <label>Site name</label>
        <input [(ngModel)]="appearanceData.site_name" name="site_name" type="text" class="form-control" />
        <label>Site description</label>
        <input [(ngModel)]="appearanceData.site_description" name="site_description" type="text" class="form-control" />
        <button type="submit" class="mt-2 form-control btn btn-primary float-right">Save</button>
      </form>
      <span class="mt-2 col-12 alert alert-primary" [class.hidden]="!messageShow">{{message}}</span>
    </div>
  </div>
</div>
