$primary-color: #003788;
$secondary-color: #000;

body{
    width: 100%;
    height: 100%;
    background: rgb(48, 48, 48);
    background-attachment: fixed;
    background-color: #5d5d5d;
    background-color: #343434;
}
header{
    
    background: $primary-color;

    color: white;
    height: 200px;
    padding: 5px;
    width:100% !important;
    h1{
        margin-left: 20px;
        margin-top: 20px;
    }
    p{
        margin-left: 20px;
        color: #b4b4b4;
    }
    .row{
        padding: 0px;
        width: 100% !important;
        margin: 0px;
        box-sizing: border-box;
    }
}

.tag-container{
    position: absolute;
    bottom: 0;
}

.tag{
    padding: 5px;
    border-radius: 10px;
    color: #87a6a8;
    border:1px solid rgb(180, 180, 180);    
    margin: 5px;
    text-align: center;
    background-color: rgba(104, 104, 104, 0.082);

    font-weight: bold;
    &:hover{
        text-decoration: none;
    }

}

.navbar{
    background: rgb(13, 44, 110);
    border-top: 3px solid rgb(21, 0, 70);
    border-bottom: 3px solid rgb(21, 0, 70);

    
    .nav-link{
        color:white;
        font-weight: 700;
        border-right: 1px solid rgb(0, 93, 199);
        border-radius: 0px;    
        &:hover{
            color:rgb(161, 161, 161);            
        }
    }

    @media screen and (max-width:768px){

        padding:0;

        .nav, .row{
            width: 100%;
                
            margin:0;
        }

        .nav-item:not(:last-of-type)
        {
            width: 100%;
            margin:0;
            padding:0;
            display: inline-block;
            border-bottom: 1px solid black;
            
        }
        .nav-link{
           border:none;
        }
      
    }
}

.content{
    min-height: 60vh;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgb(172, 172, 172);

    img{
        max-width: 100%;
        max-height: 100%;
    }

}

.widget-area{
    margin-top:1em;
    ul{
        list-style: none;
        padding-left: 0px;
    }

    li{
        
        background: rgba(212, 212, 212, 0.082);
        margin-top:10px;
        padding: 2px;
        font-weight: bold;
        line-height: 20px;
    
        a{
            color:darkblue;
        }
    
    }
    h1{
        color:white;
        background: $primary-color;
        width: 100%;
        padding:10px;
        font-size: 150%;
        box-shadow: 1px 1px 5px darkblue;
        text-align: center;

    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0px;
        

        .row{
            width: 100%;
            padding: 0px;
            margin: 0;
        }
    }
}

footer{
    background: $primary-color;
    box-shadow: 0px -1px 2px rgba(7, 7, 7, 0.418);    
    color:white;
    min-height: 20vh;
    padding: 10px;
    width: 100%;
    h3:after{
        content: "";
       width: 100%;
       height: 5px;
       background: black; 
       display: block;
    }     

    @media screen and (min-width: 768px) {
        h3:after{
            margin-top:10px;
            width: 50%;
        }       
    }
  
  
}

@media screen and (max-width:768px){
    .main-content{
        min-height: 200px;
    }
}

.container{

    box-shadow: 0 0 25px 10px rgb(19, 19, 19);

}