<div class="page-root">
  <div class="container">
    <div class="row">
      <!--Header-->
      <header>
        <div class="col-md-12">

          <h1>My oCMS</h1>
        </div>
        <div class="col-md-12">
          <p>Prototype..</p>

        </div>
      </header>
    </div>
    <navbar class="navbar row"></navbar>
    <div class="content justify-content-center row">
      <!-- main content -->
      <div class="mt-2  mb-5 col-11 main-content">

        <div *ngIf="currentPage">
        <div [innerHtml]="currentPage.content | marked"></div>
        <div class="row mt-2"><a [routerLink]="['/', 'tag', tag]" class="tag" *ngFor="let tag of currentPage.tags">{{tag}} </a></div>
      </div>

      </div>
    </div>
<div class="row clearfix">
  
      <footer>
  
        <div class="row">
          <!--Footer left-->
          <div class="col-md-6">
            <h3>About Us</h3>
            <p>Currently single-man powered programming workshop, providing websolutions.</p>
          </div>
          <!--Footer right-->
          <div class="col-md-6">
    
            <h3>Contact us</h3>
    
    
            <p>contact@domain.com<br/>
            Street B 27, Helsinki<br/>
            Finland</p>
          </div>
        </div>
  
  
  
      </footer>
  
</div>

  </div>
</div>
