<div class="page-root">
  <div class="container">
    <div class="row">
      <!--Header-->
      <header>
        <div class="col-md-12">

          <h1>My oCMS</h1>
        </div>
        <div class="col-md-12">
          <p>Prototype..</p>

        </div>
      </header>
    </div>
    <navbar class="navbar row"></navbar>
    <div class="content row">
      <!-- main content -->
      <div class="col-md-9 col-cs-12">

        <div  *ngIf="currentPage != Null" [innerHtml]="currentPage.content | marked"></div>
        <div class="row tag-container"><a [routerLink]="['/78']" class="tag" *ngFor="let tag of currentPage.tags">{{tag}} </a></div>


      </div>
      <!--Widget space-->
      <div class="col-md-3 col-xs-12 widget-area">
        <div class="col-md-12">
          <h1>Latest Articles</h1>

          <ul>
            <li><a [routerLink]="['/']">Check this awesome product</a></li>
            <li><a [routerLink]="['/']">Learn more about Angular!</a></li>
            <li><a [routerLink]="['/']">How to provide good services!</a></li>
          </ul>
        </div>
        <div class="col-md-12 col-xs-12">
          <h1>Widget</h1>
        </div>
      </div>
    </div>
<div class="row clearfix">
  
      <footer>
  
        <div class="row">
          <!--Footer left-->
          <div class="col-md-6">
            <h3>About Us</h3>
            <p>Currently single-man powered programming workshop, providing websolutions.</p>
          </div>
          <!--Footer right-->
          <div class="col-md-6">
    
            <h3>Contact us</h3>
    
    
            <p>contact@domain.com<br/>
            Street B 27, Helsinki<br/>
            Finland</p>
          </div>
        </div>
  
  
  
      </footer>
  
</div>

  </div>
</div>
