.tag{
    background: #e2f2ff;
    margin-left: 5px;
    margin-top:5px;
    border-radius: 12px;
    padding:8px;
    font-size: 14px;
    font-weight: 600;
    color: #4a4b46;
    border: 2px solid #393c86;

}

.tag:hover{
    cursor: pointer;
}

.sidebar{
    background: rgb(216, 216, 216);
}

.sidebar-head{
    background: #ccc;
}

.sidebar-head h2{
    margin: auto;
    color: rgb(90, 90, 90)
}