<div class="row mt-5"><div *ngIf="pageData" class="form-group col-md-7">
    <ul *ngIf="errors">
        <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  <form (ngSubmit)="onSubmit()" #editPage="ngForm" class="form-control bg-light">
  <label for="title">
  <h3>Page Title</h3>
  </label>
    <br/>
    <input type="text" #name="ngModel" class="form-control" [(ngModel)]="pageData.title" name="title" required minlength="4"/>
    <br>
    <label for="title">
        <h4>Permalink</h4>
        </label>
          <br/>
          http://{{hostname}}/<input type="text" #name="ngModel" class="form-control col-md-10 col-xs-12" [(ngModel)]="pageData.permalink" name="permalink" required minlength="4"/>
          <br>
    <label for="content">
      <h4>Content</h4>
    </label>
    <div class="mb-2">
      <!-- To own component later-->
      <button type="button" (click)="handleToolbarClick('h1')" class="toolbar-btn">H1</button>
      <button type="button" (click)="handleToolbarClick('h2')"  class="toolbar-btn">H2</button>
      <button type="button" (click)="handleToolbarClick('h3')"  class="toolbar-btn">H3</button>
      <button type="button" (click)="handleToolbarClick('h4')"  class="toolbar-btn">H4</button>
      <button type="button" (click)="handleToolbarClick('link')" class="toolbar-btn">Link</button>
      <button type="button"  (click)="handleToolbarClick('image')" class="toolbar-btn">Img</button>
      <button type="button" class="toolbar-btn">Quote</button>
      <button type="button" class="toolbar-btn">List</button>
      </div>
    <textarea id="textArea" class="form-control" rows="15" [(ngModel)]="pageData.content" name="content" required></textarea>
    <button class="btn btn-warning mt-1" [routerLink]="['../']">Cancel</button>
    <button class="float-right btn btn-success mt-1" [disabled]="isSaving">{{ isSaving == true ? 'Saving..' : 'Save' }}</button>
  </form>
  <br/>


</div>

<div class="col-md-2" *ngIf="pageData">
  <div class="row">
    <h2>Options</h2>
  </div>

<div class="row"><label for="tags">Tags (Comma seperated)</label>
<input #tagInput type="text" class="form-control" (keyup)="onTagEnter($event)" placeholder="Example, Tutorials"><br/>
<button *ngFor ="let tag of pageData.tags; index as i" class="tag" (click)="onTagClick(i)"> {{tag}} </button>
</div>   
</div>
</div>