<div class="row mt-5"><div *ngIf="pageData" class="form-group col-md-8">
    <ul *ngIf="errors">
        <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  <form (ngSubmit)="onSubmit()" #editPage="ngForm" class="form-group">
    <label for="title">
      <h3>Page Title</h3>
    </label>
    <br/>
    <input type="text" #name="ngModel" class="form-control" [(ngModel)]="pageData.title" name="title" required minlength="4"/>
    <br>
    <label for="title">
      <h4>Content</h4>
    </label>
    <textarea class="form-control" rows="15" [(ngModel)]="pageData.content" name="content" required></textarea>
    <button class="btn btn-warning mt-1" [routerLink]="['../']">Cancel</button>
    <button class="float-right btn btn-success mt-1" [disabled]="isSaving">{{ isSaving == true ? 'Saving..' : 'Save' }}</button>
  </form>
  <br/>


</div>

<div class="col-md-2">
  <div class="row">
    <h2>Options</h2>

    <label for="tags">Tags (Comma seperated)</label>
    <input #tagInput type="text" class="form-control" (keyup)="onTagEnter($event)" placeholder="Example, Tutorials"><br/>
  <button *ngFor ="let tag of pageData.tags; index as i" class="tag" (click)="onTagClick(i)"> {{tag}} </button>
    
</div>
</div>
</div>