<div class="row mt-3">
  <div class="col-md-8">
    <h1>Main navigation</h1>

    <form>
      <label for="MainPage">
        <strong>Main page</strong>
      </label>
      <br/>
      <select name="mainpage" [(ngModel)]="navData.mainpage" id="mainpage" class="form-control">
        <option *ngFor="let page of pageData" [value]="page.page_id">{{page.title}}</option>
      </select>
      <h2>Menu items:</h2>
    <div *ngIf="pageData">
    <button (click)="onAddMenuItem()"  class="btn btn-primary m-2">Add menu item</button>

      <span *ngFor="let navItem of navData.nav_items; index as i">    
      <menuitem-selector (deleteThis)="onDeleteNavItem($event)" [(data)]="navData.nav_items[i]" [pageData]="pageData" [index]="i"></menuitem-selector>
    </span>
    </div>

    <button class="btn btn-primary mt-2" [class.btn-warning]="saving" [disabled]="saving" (click)="onSave()">{{saving ? 'Saving..' : 'Save'}}</button>
    </form>
  </div>
</div>
