<div class="row mt-3">
  <div class="col-md-8">
    <h1>Main navigation</h1>

    <form>
      <label for="MainPage">
        <strong>Mainpage</strong>
      </label>
      <br/>
      <select name="mainpage" id="mainpage" class="form-control">
        <option *ngFor="let page of pageData">{{page.title}}</option>
      </select>
      <label for="ErrorPage">
        <strong>Errorpage</strong>
      </label>
      <br/>
      <select name="errorpage" id="errorpage" class="form-control">
        <option *ngFor="let page of pageData">{{page.title}}</option>
      </select>
      <h2>Menu items:</h2>
<div *ngIf="pageData">
    <button (click)="onAddMenuItem()" class="btn btn-primary m-2">Add menu item</button>

      <menuitem-selector (deleteThis)="onDeleteNavItem($event)" (onNavItemChange)="onNavItemChange($event)" *ngFor="let navItem of navData.nav_items; index as i" [pageData]="pageData" [index]="i"></menuitem-selector>
    </div>
    </form>
  </div>
</div>
